*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-to-trash
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive
.build/
.swiftpm/xcode/package.xcworkspace/
Pods/
Podfile.lock
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
__MACOSX/
*.swp
*~
.idea/
